openapi: 3.0.3
info:
  title: PflegeNavigator EU API
  description: |
    REST API für das PflegeNavigator EU Portal - Pflegegrad-Rechner, Widerspruchs-Generator, 
    Brief-Generator und Avatar-Chat für die EU-Pflege-Community.
    
    ## Authentifizierung
    
    Die API verwendet zwei Authentifizierungsmethoden:
    
    1. **Client-seitig (Browser)**: Anon Key mit RLS-Policies
    2. **Server-seitig (API Routes)**: Service Role Key für vollen Datenbankzugriff
    
    ### Umgebungsvariablen
    ```
    NEXT_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
    NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIs...
    SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIs...
    ```
    
    ## Rate Limits
    
    - Standard: 100 Requests pro Minute pro IP
    - Avatar Chat: 30 Requests pro Minute
    - PDF-Generierung: 10 Requests pro Minute
    
    ## Fehler-Codes
    
    | Code | Bedeutung |
    |------|-----------|
    | 400 | Bad Request - Ungültige Eingabe |
    | 401 | Unauthorized - Authentifizierung erforderlich |
    | 403 | Forbidden - Keine Berechtigung |
    | 404 | Not Found - Ressource nicht gefunden |
    | 429 | Rate Limit - Zu viele Requests |
    | 500 | Internal Server Error |
    | 503 | Service Unavailable - Wartung |
  
  version: 1.0.0
  contact:
    name: PflegeNavigator EU Support
    email: support@pflegenavigatoreu.com
  license:
    name: Proprietary
    url: https://pflegenavigatoreu.com/datenschutz

servers:
  - url: https://api.pflegenavigatoreu.com/api
    description: Production
  - url: http://localhost:3000/api
    description: Local Development

security:
  - ApiKeyAuth: []

tags:
  - name: Health
    description: System-Health-Checks und Monitoring
  - name: Cases
    description: Fall-Management (Anonyme Cases mit Case-Code)
  - name: Pflegegrad
    description: Pflegegrad-Berechnung nach NBA
  - name: Briefe
    description: Brief-Generierung für Behörden und Versicherungen
  - name: Widerspruch
    description: Widerspruchs-Briefe und Chancenberechnung
  - name: Avatar
    description: Avatar-Chat für Pflege-Fragen
  - name: PDF
    description: PDF-Generierung
  - name: Gesetze
    description: SGB-Paragraphen und Rechtstexte
  
paths:
  /health:
    get:
      tags: [Health]
      summary: System Health Check
      description: |
        Führt umfassende Health-Checks durch für:
        - Datenbank-Verbindung (Supabase)
        - Dateisystem (Schreibzugriff)
        - Speicher-Auslastung
        - CPU-Auslastung
      operationId: getHealth
      responses:
        200:
          description: System ist gesund oder degradiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthCheck'
        503:
          description: Kritischer Systemfehler
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /health/db:
    get:
      tags: [Health]
      summary: Datenbank-Health-Check
      operationId: getHealthDb
      responses:
        200:
          description: Datenbank-Verbindung OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [ok, error]
                  responseTime:
                    type: number
                    description: Millisekunden

  /cases:
    post:
      tags: [Cases]
      summary: Neuen Fall anlegen
      description: |
        Erstellt einen neuen anonymen Fall mit eindeutigem Case-Code.
        Cases sind 90 Tage gültig und werden automatisch gelöscht.
      operationId: createCase
      security: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        201:
          description: Fall erfolgreich erstellt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaseCreated'
        500:
          description: Datenbankfehler
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /cases/{code}:
    get:
      tags: [Cases]
      summary: Fall nach Code laden
      operationId: getCase
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
            pattern: '^[A-Z0-9]{8}$'
            example: "PN2024X7"
      responses:
        200:
          description: Fall gefunden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Case'
        404:
          description: Fall nicht gefunden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /cases/{code}/answers:
    post:
      tags: [Cases]
      summary: Antworten für Modul speichern
      operationId: saveAnswers
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnswerRequest'
      responses:
        200:
          description: Antworten gespeichert
        400:
          description: Ungültige Eingabe

  /cases/{code}/scores:
    get:
      tags: [Pflegegrad]
      summary: Pflegegrad-Berechnung für Fall
      operationId: getScores
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Berechnungsergebnis
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PflegegradResult'

  /briefe:
    get:
      tags: [Briefe]
      summary: Verfügbare Brief-Typen
      operationId: getBriefTypes
      security: []
      responses:
        200:
          description: Liste aller Brief-Typen
          content:
            application/json:
              schema:
                type: object
                properties:
                  types:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        icon:
                          type: string
                        beschreibung:
                          type: string
    
    post:
      tags: [Briefe]
      summary: Brief generieren
      operationId: generateBrief
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BriefRequest'
      responses:
        200:
          description: Brief erfolgreich generiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BriefResponse'
        400:
          description: Ungültiger Brief-Typ oder fehlende Daten

  /briefe/pdf:
    post:
      tags: [PDF, Briefe]
      summary: Brief als PDF generieren
      description: Erstellt PDF mit Puppeteer/Chromium
      operationId: generateBriefPDF
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BriefPDFRequest'
      responses:
        200:
          description: PDF-Datei
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        429:
          description: Rate limit überschritten

  /widerspruch:
    post:
      tags: [Widerspruch]
      summary: Widerspruch erstellen
      description: |
        Erstellt Widerspruchsbrief mit Begründung und berechnet
        die Erfolgschance basierend auf NBA-Modul-Scores.
      operationId: createWiderspruch
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WiderspruchRequest'
      responses:
        200:
          description: Widerspruch generiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WiderspruchResponse'

  /widerspruch/pdf:
    post:
      tags: [PDF, Widerspruch]
      summary: Widerspruch als PDF
      operationId: generateWiderspruchPDF
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        200:
          description: PDF-Datei
          content:
            application/pdf:
              schema:
                type: string
                format: binary

  /avatar/chat:
    post:
      tags: [Avatar]
      summary: Avatar-Chat Nachricht
      description: |
        Verarbeitet Chat-Nachrichten und gibt kontextuelle Antworten
        zu Pflegegrad, Leistungen und Antragstellung.
      operationId: avatarChat
      x-ratelimit: 30/minute
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AvatarChatRequest'
      responses:
        200:
          description: Avatar-Antwort
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvatarChatResponse'
        400:
          description: Ungültige Nachricht
        429:
          description: Rate limit überschritten

  /gesetze:
    get:
      tags: [Gesetze]
      summary: SGB-Übersicht
      security: []
      responses:
        200:
          description: Liste der verfügbaren SGBs
          content:
            application/json:
              schema:
                type: object

  /gesetze/{sgb}/{paragraph}:
    get:
      tags: [Gesetze]
      summary: Paragraphen-Details
      operationId: getParagraph
      security: []
      parameters:
        - name: sgb
          in: path
          required: true
          schema:
            type: string
            enum: [V, XI, XII]
        - name: paragraph
          in: path
          required: true
          schema:
            type: string
            example: "15"
      responses:
        200:
          description: Paragraphen-Text
          content:
            application/json:
              schema:
                type: object
                properties:
                  sgb:
                    type: string
                  paragraph:
                    type: string
                  title:
                    type: string
                  content:
                    type: string
                  related:
                    type: array
                    items:
                      type: string

  /pdf/generate:
    post:
      tags: [PDF]
      summary: Generisches PDF generieren
      description: Erstellt PDF aus HTML-Content
      operationId: generatePDF
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                content:
                  type: string
                  description: HTML-Content
                footer:
                  type: string
      responses:
        200:
          description: PDF-Datei
          content:
            application/pdf:
              schema:
                type: string
                format: binary

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Supabase Anon Key für Client-Requests

  schemas:
    HealthCheck:
      type: object
      required:
        - status
        - timestamp
        - version
      properties:
        status:
          type: string
          enum: [ok, degraded, error]
          description: Gesamt-Systemstatus
        timestamp:
          type: string
          format: date-time
        version:
          type: string
          example: "0.1.0"
        uptime:
          type: number
          description: Server-Uptime in Sekunden
        checks:
          type: object
          properties:
            database:
              type: object
              properties:
                status:
                  type: string
                  enum: [ok, error]
                responseTime:
                  type: number
                message:
                  type: string
            filesystem:
              type: object
              properties:
                status:
                  type: string
                writable:
                  type: boolean
            memory:
              type: object
              properties:
                status:
                  type: string
                  enum: [ok, warning, error]
                freeMB:
                  type: number
                totalMB:
                  type: number
                usedPercent:
                  type: number
            cpu:
              type: object
              properties:
                status:
                  type: string
                usagePercent:
                  type: number
                loadAverage:
                  type: array
                  items:
                    type: number

    Case:
      type: object
      properties:
        id:
          type: string
          format: uuid
        case_code:
          type: string
          pattern: '^[A-Z0-9]{8}$'
          example: "PN2024X7"
        status:
          type: string
          enum: [draft, active, completed, archived]
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        care_level_guess:
          type: number
          nullable: true
        module_count:
          type: number

    CaseCreated:
      type: object
      properties:
        id:
          type: string
        caseCode:
          type: string

    AnswerRequest:
      type: object
      required:
        - moduleNumber
        - moduleName
        - answers
      properties:
        moduleNumber:
          type: number
          minimum: 1
          maximum: 6
        moduleName:
          type: string
        answers:
          type: object
          description: Modul-spezifische Antworten

    PflegegradResult:
      type: object
      properties:
        careLevel:
          type: number
          nullable: true
          description: Berechneter Pflegegrad (1-5)
        totalScore:
          type: number
          description: Gewichtete Gesamtpunktzahl
        moduleScores:
          type: object
          description: Roh-Punkte pro Modul
        weightedScores:
          type: object
          description: Gewichtete Punkte
        trafficLight:
          type: string
          enum: [green, yellow, red]
          description: Zuverlässigkeit der Berechnung
        buffer:
          type: number
          description: Puffer bis zur nächsten Schwelle
        missingData:
          type: boolean
        benefits:
          type: object
          properties:
            monthlyAmount:
              type: number
              description: Pflegegeld pro Monat
            reliefBudget:
              type: number
            additionalBenefits:
              type: array
              items:
                type: string

    BriefRequest:
      type: object
      required:
        - type
        - data
      properties:
        type:
          type: string
          enum: [versorgungsamt, em-rente, allgemein, widerspruch-pflegegrad, antrag-pflegegrad, betreuungsrecht, erbrecht]
        data:
          type: object
          description: Brief-spezifische Daten

    BriefResponse:
      type: object
      properties:
        success:
          type: boolean
        type:
          type: string
        briefText:
          type: string
        checklist:
          type: array
          items:
            type: string
        nextSteps:
          type: array
          items:
            type: string
        wichtigeHinweise:
          type: array
          items:
            type: string
          nullable: true

    BriefPDFRequest:
      allOf:
        - $ref: '#/components/schemas/BriefRequest'
        - type: object
          properties:
            format:
              type: string
              enum: [pdf, html]
              default: pdf

    WiderspruchRequest:
      type: object
      required:
        - caseCode
        - currentLevel
        - expectedLevel
        - moduleScores
      properties:
        caseCode:
          type: string
        currentLevel:
          type: number
          minimum: 1
          maximum: 5
        expectedLevel:
          type: number
          minimum: 1
          maximum: 5
        moduleScores:
          type: object
          description: NBA-Modul-Scores
        reasons:
          type: string
          description: Zusätzliche Begründung
        insuranceNumber:
          type: string
        insuranceName:
          type: string

    WiderspruchResponse:
      type: object
      properties:
        success:
          type: boolean
        caseCode:
          type: string
        briefText:
          type: string
        begruendung:
          type: string
        checklist:
          type: array
          items:
            type: string
        nextSteps:
          type: array
          items:
            type: string
        calculation:
          $ref: '#/components/schemas/PflegegradResult'
        widerspruchChance:
          type: object
          properties:
            chance:
              type: string
              enum: [high, medium, low]
            reason:
              type: string
        fristInfo:
          type: string
        legalBase:
          type: string

    AvatarChatRequest:
      type: object
      required:
        - message
      properties:
        message:
          type: string
          maxLength: 500
          description: Benutzer-Nachricht
        pflegegrad:
          type: number
          nullable: true
        module:
          type: array
          items:
            type: string
        sessionId:
          type: string
        context:
          type: object
          properties:
            previousMessages:
              type: array
            userProfile:
              type: object

    AvatarChatResponse:
      type: object
      properties:
        text:
          type: string
          description: Avatar-Antwort-Text
        action:
          type: object
          properties:
            type:
              type: string
              enum: [show_module, open_calculator, start_assessment, generate_pdf, navigate]
            payload:
              type: object
        suggestions:
          type: array
          items:
            type: string
        sources:
          type: array
          items:
            type: object
            properties:
              title:
                type: string
              url:
                type: string
              sgb:
                type: string
              paragraph:
                type: string

    Error:
      type: object
      required:
        - error
      properties:
        error:
          type: string
        details:
          type: string
          nullable: true
        code:
          type: string
          nullable: true
        retryable:
          type: boolean
          default: false